<p id="who">
  <strong>Who:</strong>
  Interns, Post-docs or Scientists who may have some programing experience but not a formal background. Unsure? Read: <a href="https://software-carpentry.org/pages/audience.html">https://software-carpentry.org/pages/audience.html</a>
<br>
  SWC encourages people to attend in groups because people from the same lab group are more likely to have similar interests and backgrounds.  They are also less inhibited about asking questions, asking one another for help and can more easily adopt these new best practices into their lab.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
